/* Add CSS Styling */
.odd-number {
  background-color: rgb(255, 105, 180);
  font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#second-number {
  color: #0000ff;
  font-size: 36px;
}

.third-number-class {
  font-size: 24px;
}

#fourth-number {
  background-color: #d1ffbd;
  font-size: 24px;
  font-weight: bold;
}
