/* Add CSS Styling */

.first-el,
.second-el {
  font-size: 28px;
  font-family: "Helvetica", "Times New Roman", "sans-serif";
}

.first-el {
  background-color: black;
  color: white;
}

.second-el {
  background-color: yellow;
}
